n8n/phase1-critical/wf05-daily-renewal-reminders.json
{
  "name": "WF05: Daily renewal reminder sequence (60/30/7/0/-30 days)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "value": "0 6 * * *"
            }
          ]
        }
      },
      "id": "cron-daily-6am",
      "name": "Daily at 6am UTC",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "members",
        "where": {
          "conditions": [
            {
              "column": "status",
              "condition": "equal",
              "value": "active",
              "combinator": "and"
            }
          ]
        },
        "orderBy": {
          "field": "expiry_date",
          "direction": "ASC"
        },
        "additionalFields": {}
      },
      "id": "supabase-fetch-members",
      "name": "Fetch All Active Members",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate days until expiry and match reminder thresholds\nconst today = new Date();\nconst thresholds = [60, 30, 7, 0, -30];\n\nreturn $input.all().flatMap(member => {\n  const expiryDate = new Date(member.json.expiry_date);\n  const daysUntilExpiry = Math.round((expiryDate - today) / (1000 * 60 * 60 * 24));\n  \n  // Check if today matches any reminder threshold\n  if (!thresholds.includes(daysUntilExpiry)) {\n    return [];\n  }\n  \n  return [{\n    json: {\n      ...member.json,\n      days_until_expiry: daysUntilExpiry,\n      reminder_type: daysUntilExpiry > 0 ? `${daysUntilExpiry}days` : \n                     daysUntilExpiry === 0 ? 'today' : \n                     `${Math.abs(daysUntilExpiry)}days_overdue`\n    }\n  }];\n});"
      },
      "id": "code-calculate-days",
      "name": "Calculate Days & Match Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-threshold",
              "leftValue": "={{ $json.days_until_expiry }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-threshold",
      "name": "Matches Reminder Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "email_logs",
        "where": {
          "conditions": [
            {
              "column": "member_id",
              "condition": "equal",
              "value": "={{ $json.id }}",
              "combinator": "and"
            },
            {
              "column": "template_type",
              "condition": "equal",
              "value": "={{ $json.reminder_type }}",
              "combinator": "and"
            },
            {
              "column": "sent_at",
              "condition": "greaterThanEqual",
              "value": "={{ $now.substring(0, 10) }}",
              "combinator": "and"
            }
          ]
        },
        "additionalFields": {
          "limit": 1
        }
      },
      "id": "supabase-check-duplicate",
      "name": "Check Already Emailed Today?",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-duplicate",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-no-duplicate",
      "name": "Not Already Sent Today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate email content based on reminder type\nconst days = $json.days_until_expiry;\nconst member = $json;\nlet subject, htmlContent;\n\nswitch(days) {\n  case 60:\n    subject = 'CIMA Membership Renewal - 60 Days Notice';\n    htmlContent = `<h2>Membership Renewal Notice</h2>\n      <p>Dear ${member.full_name},</p>\n      <p>Your CIMA membership will expire in <strong>60 days</strong> on ${new Date(member.expiry_date).toLocaleDateString()}.</p>\n      <p>As a valued member, you'll continue to enjoy:</p>\n      <ul>\n        <li>Access to all course materials</li>\n        <li>Community forum participation</li>\n        <li>Networking opportunities</li>\n        <li>Professional development resources</li>\n      </ul>\n      <p><a href='https://cima.learn/renew'>Renew Your Membership</a></p>\n      <p>Thank you for being part of CIMA!</p>\n      <p>The CIMA Team</p>`;\n    break;\n    \n  case 30:\n    subject = 'CIMA Membership Renewal - 30 Days Remaining';\n    htmlContent = `<h2>Membership Renewal Reminder</h2>\n      <p>Dear ${member.full_name},</p>\n      <p>Your CIMA membership expires in <strong>30 days</strong> on ${new Date(member.expiry_date).toLocaleDateString()}.</p>\n      <p>If you don't renew, you'll lose access to:</p>\n      <ul>\n        <li>Course enrollment privileges</li>\n        <li>Community forum access</li>\n        <li>Certificate downloads</li>\n        <li>Member-only resources</li>\n      </ul>\n      <p><strong>Renew now to avoid interruption:</strong> <a href='https://cima.learn/renew'>Renew Membership</a></p>\n      <p>The CIMA Team</p>`;\n    break;\n    \n  case 7:\n    subject = 'URGENT: CIMA Membership Expires in 7 Days';\n    htmlContent = `<h2>URGENT: Membership Expiring Soon</h2>\n      <p>Dear ${member.full_name},</p>\n      <p>Your CIMA membership expires in just <strong>7 days</strong> on ${new Date(member.expiry_date).toLocaleDateString()}.</p>\n      <p><strong>This is your final reminder!</strong> After expiration, you'll immediately lose access to all member benefits.</p>\n      <p><a href='https://cima.learn/renew'><strong>Renew Now</strong></a></p>\n      <p>Questions? Call us at 0536735535 or 0241022964.</p>\n      <p>The CIMA Team</p>`;\n    break;\n    \n  case 0:\n    subject = 'CIMA Membership Expired Today';\n    htmlContent = `<h2>Membership Expired</h2>\n      <p>Dear ${member.full_name},</p>\n      <p>Your CIMA membership <strong>expired today</strong>.</p>\n      <p>You currently cannot access member benefits, but you can reactivate your membership immediately.</p>\n      <p><a href='https://cima.learn/renew'><strong>Reactivate Membership</strong></a></p>\n      <p>We hope to see you back in the CIMA community soon!</p>\n      <p>The CIMA Team</p>`;\n    break;\n    \n  case -30:\n    subject = 'Final Offer: Reactivate Your CIMA Membership';\n    htmlContent = `<h2>Final Reactivation Offer</h2>\n      <p>Dear ${member.full_name},</p>\n      <p>Your CIMA membership expired <strong>30 days ago</strong> on ${new Date(member.expiry_date).toLocaleDateString()}.</p>\n      <p>This is your final opportunity to reactivate with your current membership level and benefits.</p>\n      <p><a href='https://cima.learn/renew'><strong>Reactivate Now</strong></a></p>\n      <p>After this period, you may need to reapply for membership.</p>\n      <p>The CIMA Team</p>`;\n    break;\n}\n\nreturn [{\n  json: {\n    ...member,\n    email_subject: subject,\n    email_html: htmlContent\n  }\n}];"
      },
      "id": "code-generate-email",
      "name": "Generate Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "from": "info@thecima.org",
        "to": "={{ $json.email }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "resend-send-reminder",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.resend",
      "typeVersion": 1,
      "position": [1780, 300],
      "credentials": {
        "resendApi": {
          "id": "resend-api",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "email_logs",
        "columns": {
          "assignment": [
            {
              "column": "member_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "template_type",
              "value": "={{ $json.reminder_type }}"
            },
            {
              "column": "sent_at",
              "value": "={{ $now }}"
            },
            {
              "column": "email_to",
              "value": "={{ $json.email }}"
            },
            {
              "column": "subject",
              "value": "={{ $json.email_subject }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "supabase-log-email",
      "name": "Log Email Sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": "members",
        "column": "last_reminder_sent",
        "value": "={{ $json.reminder_type }}",
        "where": {
          "conditions": [
            {
              "column": "id",
              "condition": "equal",
              "value": "={{ $json.id }}",
              "combinator": "and"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "supabase-update-member",
      "name": "Update Member Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2220, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    }
  ],
  "connections": {
    "Daily at 6am UTC": {
      "main": [
        [
          {
            "node": "Fetch All Active Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Active Members": {
      "main": [
        [
          {
            "node": "Calculate Days & Match Thresholds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Days & Match Thresholds": {
      "main": [
        [
          {
            "node": "Matches Reminder Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matches Reminder Threshold?": {
      "main": [
        [
          {
            "node": "Check Already Emailed Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Emailed Today?": {
      "main": [
        [
          {
            "node": "Not Already Sent Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Already Sent Today?": {
      "main": [
        [
          {
            "node": "Generate Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Content": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Sent": {
      "main": [
        [
          {
            "node": "Update Member Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  },
  "id": "wf05-daily-renewal-reminders",
  "tags": [
    {
      "id": "tag:membership",
      "name": "Membership"
    },
    {
      "id": "tag:renewal",
      "name": "Renewal"
    },
    {
      "id": "tag:critical",
      "name": "Critical"
    }
  ]
}
